.box-main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .box-main {
        flex-direction: column;
        margin: 100px;
    }
}

.box {
    border: 10px solid rgb(53, 52, 52);
    border-radius: 10%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    opacity: 80%;
}

.item-img{
    width:400px;
}

.win{
    border: 10px solid rgb(168, 237, 205);
    color: rgb(0, 128, 79);
}

.lose{
    border: 10px solid rgb(249, 167, 167);
    color: rgb(163, 35, 35);
}

.tie{
    border: 10px solid rgb(53, 52, 52);
    color: rgb(34, 34, 34);
}