
.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style-type:none;
    flex-grow: 1;
    justify-content: center;
}

.menu-list li{
    padding: 10px;
}

.search-box{
    position: relative;
    display: inline-block;
}

.search-box input[type="text"]{
    width: 200px;
    padding: 5px 10px 5px 30px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    outline: none;
}

.search-icon{
    color: #000;
    font-size: 16px;
}

.product-card{
    transition: transform 0.3s ease;
}

.product-card:hover{
    transform: scale(1.1);
}