
.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style-type:none;
    flex-grow: 1;
    justify-content: center;
}

.menu-list li{
    padding: 10px;
}

.search-box{
    position: relative;
    display: inline-block;
}

.search-box input[type="text"]{
    width: 200px;
    padding: 5px 10px 5px 30px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    outline: none;
}

.search-icon{
    color: #000;
    font-size: 16px;
}

.product-detail-img{
    display: flex;
    justify-content: flex-end;
  }
  
  .product-detail-img img{
    width: 100%;
  }
  .product-info{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .drop-down{
    margin-top:20px;
  }
  
  .add-button{
    margin-top:20px;
    width: 100%;
  }
  
  .card:hover{
    transform: scale(1.1);
    z-index: 1;
  }
  .hide{
    visibility:hidden
  }
  